<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
<!--<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->

<head th:replace="layout/header::head"></head>

<body>
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/login_proc}">
            <input type="hidden" th:value="secret" name="secret_key" />
            <h2 class="form-signin-heading">Please sign in</h2>
            <div th:if="${param.error}" th:text="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').getMessage()}" class="alert alert-danger" role="alert">
            </div>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>